@import "../../base";

.home-page {
  padding: 0vh 0vh 2vh 0vh;
  background-image: url("../../assets/retro_unsplash.jpg");
  // min-height: 105vh;
  min-height: 98vh;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;

  .welcome-heading {
    font-size: 2.7rem;
  }
  .subtitle-header {
    font-size: 1.3rem;
  }

  .page-content {
    text-align: center;
    color: white;
    margin: 32vh auto auto auto;
    padding: 20px;
    width: fit-content;
  }

  .logo-container {
    text-decoration: none;

    .login-btn {
      background-color: $primary-main;
      color: white;
      margin-top: 6vh;

      &:hover {
        background-color: $primary-light;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-page {
    min-height: 98vh;

    .welcome-heading {
      font-size: 3rem;
    }
    .page-content {
      margin-top: 33vh;
    }
  }
}
