@import "../../base";
.note-body {
  .note-title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .note-brief {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .note-date {
    font-size: 10px;
  }
}

.note-container {
  justify-content: space-between !important;
  // margin-top: 31px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: $note-main;
  cursor: pointer;

  .drag-handle {
    padding-right: 0.5vw;
    display: none;
  }
  &.unselected-note {
    &:hover {
      opacity: 0.8;
      background-color: $primary-light;

      .drag-handle {
        display: block;
      }
    }
  }
  &.selected-note {
    background-color: $primary-main;
  }
  .deleteIcon {
    &:hover {
      color: red;
    }
  }
}
