// @use '../../base';
.main {
  border: 1px solid #886c6c;
  overflow: hidden;
  min-height: 87vh;
}
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    min-height: 90vh;
  }
}
