// @use '../../base';
.content {
  border: 1px solid #886c6c;
  overflow: hidden;
  min-height: 101vh;
}

.notes-list {
  width: 100%;

  hr {
    border-color: #886c6c;
  }
}

.list-component-hide {
  display: none;
}

.section-head {
  display: flex;
  justify-content: space-evenly;

  .notes-search-bar {
    margin: 7px 0px 0px 3px;
  }

  .add-note-icon {
    padding-top: 2.2vh;
    width: 13%;
    cursor: pointer;
    color: #886c6c;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    min-height: 90vh;
  }

  .list-component-hide,
  .list-component-show {
    display: block;
  }
  .notes-list {
    width: 33%;
    border-right: 1px solid #886c6c;
    // margin-top: 31px;
  }
  // .section-head {
  //   // list-style: none;
  //   display: flex;
  //   justify-content: space-evenly;

  //   .notes-search-bar {
  //     margin: 7px 0px 0px 3px;
  //   }

  //   .add-note-icon {
  //     padding-top: 2.2vh;
  //     width: 13%;
  //     cursor: pointer;
  //     color: #886c6c;
  //   }
  // }
}
