@import "../../base";
.notes-edit {
  width: 100%;

  .notes-edit-title {
    width: 100%;
    font-weight: bold;
    padding-top: 15px;
  }
  .notes-edit-header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .notes-edit-controls {
    display: flex;
    justify-content: space-between;
  }

  .quill {
    height: 100%;
  }
  .view-notes-button,
  .delete-btn {
    background-color: $primary-main;

    &:hover {
      background-color: $primary-light;
    }
  }
}

@media only screen and (min-width: 768px) {
  .view-notes-button {
    display: none !important;
  }
  .notes-edit {
    width: 67%;
    // padding-left: 10px;
    // padding-right: 10px;

    .notes-edit-title {
      width: 70%;
      font-weight: bold;
      padding-top: 15px;
    }

    .notes-edit-header {
      display: flex;
      justify-content: space-between;
      height: 45px;
      padding-bottom: 2vh;
      padding-left: 15px;
    }
    .notes-edit-controls {
      padding-top: 15px;
    }
  }
}
