@import "../../base";
.notes-edit {
  width: 100%;

  &.show-editor {
    display: inline-block;
  }
  &.hide-editor {
    display: none;
  }
  .notes-edit-title {
    width: 100%;
    font-weight: bold;
    padding-top: 15px;
  }
  .notes-edit-header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .notes-edit-controls {
    display: flex;
    justify-content: space-between;
    padding: 2vh 0vh;
  }

  .quill {
    height: 100%;
  }
  .view-notes-button,
  .delete-btn {
    background-color: $primary-main;

    &:hover {
      background-color: $primary-light;
    }
  }
}

@media only screen and (min-width: 768px) {
  .view-notes-button {
    display: none !important;
  }
  .notes-edit {
    width: 67%;
    // padding-left: 10px;
    // padding-right: 10px;
    &.hide-editor {
      display: inline-block;
    }
    // .notes-edit-header {
    //   &:focus {
    //     border-color: $primary-main !important;
    //   }
    // }
    .notes-edit-title {
      width: 70%;
      font-weight: bold;
      padding-top: 15px;
    }

    .notes-edit-header {
      display: flex;
      justify-content: space-between;
      height: 45px;
      padding-bottom: 2vh;
      padding-left: 15px;
    }
    .notes-edit-controls {
      padding: 15px 0px 0px 0px;
    }
  }
}
