// @use '../../base';
.notes-edit {
  width: 67%;
  // padding-left: 10px;
  // padding-right: 10px;

  .notes-edit-title {
    width: 70%;
    font-weight: bold;
    padding-top: 15px;
  }

  .notes-edit-header {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-bottom: 2vh;
    padding-left: 15px;
  }
  .notes-edit-controls {
    padding-top: 15px;
  }

  .quill {
    height: 100%;
  }
}
