@import "../../base";
.sign-in-form {
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary;
  padding: 1vh;
  border-radius: 17px;
  background-color: $secondary;

  .sign-in-btn {
    margin: auto !important;
    width: 100%;
  }
  .btns-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
  }
}
.sign-up-header {
  margin: 0px;
  text-align: center;
  background: #aba0b4;
  border-radius: 10px;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin: auto;

  .buttonText {
    margin-left: 2vw;
  }
}

.email-input,
.password-input {
  width: 100% !important;
  margin-top: 0px !important;
}
.password-input {
  margin-bottom: 17px !important;
}
.hr-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 17px 0 20px;

  span {
    background: $secondary;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .sign-in-form {
    width: 22%;
    margin: auto;
    padding: 5vh;
    border-radius: 17px;
  }
}
