@import "../../base";
.sign-up-form {
  display: flex;
  flex-direction: column;
  border: 1px solid $contrast-e-light;
  padding: 5vh;
  border-radius: 17px;
  width: 69%;
  background-color: $contrast-e-light;
  border-color: $contrast-e-light;
  margin: 5vh auto 0vh auto;

  .previous-link {
    cursor: pointer;
    color: $primary-main;
    font-size: 0.8rem;
    margin-top: 2px;
  }
  .btns-group {
    // display: block;
    // text-align: center;
    .sign-up-btn {
      margin: auto !important;
      background-color: $primary-main;
      width: 100%;

      &:hover {
        background-color: $primary-light;
      }
    }
  }
}
.sign-up-header {
  margin: 0px;
  text-align: center;
  //   background: #aba0b4;
  border-radius: 10px;
}

.email-input,
.password-input {
  width: 100% !important;
  margin-top: 0px !important;
}
.password-input {
  margin-bottom: 17px !important;
}
.hr-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 17px 0 20px;

  span {
    background: $contrast-e-light;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .sign-up-form {
    width: 22%;
    margin: 10vh auto 0vh auto;
    padding: 5vh;
    border-radius: 17px;
  }
}
