// @use '../../base';
.header {
  display: inline-block;
  margin: 1vh 3vh 2vh 74vw;
  border: 1px solid #886c6c;
  padding: 1vh;

  .user-account-pic {
    padding-left: 1vw;
    height: 5vh;
  }
  .user-account-name {
    font-size: 0.8rem;
    // padding-top: 1.3vh;
  }
}
