.notes-list {
  width: 33%;
  border-right: 1px solid grey;
  // margin-top: 31px;
}
.section-head {
  // list-style: none;
  display: flex;
  justify-content: space-evenly;

  .notes-search-bar {
    border-radius: 16%;
    box-shadow: none;
    width: 80%;
    padding: 0.3vw;
  }
}
