// @use '../../base';

.notes-list {
  width: 33%;
  border-right: 1px solid #886c6c;
  // margin-top: 31px;

  hr {
    border-color: #886c6c;
  }
}
.section-head {
  // list-style: none;
  display: flex;
  justify-content: space-evenly;

  .notes-search-bar {
    margin: 7px 0px 0px 3px;
  }

  .add-note-icon {
    padding-top: 2.2vh;
    width: 13%;
    cursor: pointer;
    color: #886c6c;
  }
}
