$primary: #886c6c;
$secondary: #c8c9dd;
$header: #aba0b4;

/*new theme */
$primary-main: #75a392;
$primary-light: #75a392ba;
$primary-e-light: #a7c0ad75;

$secondary-main: #9accce;

$ternary-main: #56717b;
$ternary-light: #56717b66;

$contrast-main: #d6cca9;
$contrast-e-light: #f7f8ec;

$note-main: #dfded1;

/* #d6cca9 f7f8ec */
